@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;600&display=swap');
* {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
:root{
    background-color: #FAF7FD;
    color:#BB99DD;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure > img{
    width: 200px;
    height: 200px;
    padding: 3px;
    margin: 10px;
    border-radius: 100%;
    border: 2px solid #BB99DD;
    
}
.sectionLinks{
    margin: 10%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links{
    font-size: 18px;
    border: 2px solid #BB99DD;
    padding: 5px 100px;
    border-radius: 0.3rem;
    margin: 10px;
    font-weight: 600;
}
a:visited{
    color: #BB99DD;
}
.socialmedia{
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content:space-around;
}
